@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ChampionshipAssist</h1>

    <p>From gamers. For gamers.</p>
    <p>We offer you highest quality cybersportsmanship by providing as much comfortable experience as possible.</p>

    <h2 class="display-4">Why should you choose us?</h2>

    <p>- We offer easiest way to organize tournaments;</p>
    <p>- We guarantee fair competition;</p>
    <p>- Organizers can select who should join their tournaments to ensure fair play;</p>
    <p>- Organize your own tournament in a few clicks; or join an already available tournament.</p>
</div>
